<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylehome.css"/>
    <title>Document</title>
</head>
<body>

    <nav>
        
        <button class="close_nav"><img src="/images/croix.png" alt=""></button>
        
        <img src="/images/nav-image.png" alt="">
        
        <button class="home_button">Home</button>
        <button class="about_us_button">About us</button>
        <button class="tokenomics_button">Tokenomics</button>

    </nav>

    <div class="top">
        <button class="open_nav_button"><img src="/images/open_nav.png" alt=""></button>
    </div>

    <button class="back_top"><img src="/images/upload.png" alt=""></button>

    <div class="home_div">
        <h1 class="home_title">Welcome to this amazing project !</h1>
        <div class="home_content">
            <p class="home_presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic necessitatibus odit dolore, nesciunt distinctio asperiores reiciendis totam nemo inventore fuga aliquam, amet doloremque, repudiandae minima accusamus culpa! Sapiente, harum voluptatum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam recusandae facilis quas itaque distinctio ducimus necessitatibus exercitationem molestiae quis saepe magnam unde optio nobis iste quaerat obcaecati, consectetur ad. Amet.</p>
            <img class="home_img" src="/images/home-image.png" alt="">
        </div>
    </div>
    <img class="waves" src="/images/layered-waves-haikei.svg" alt="">
    <div class="about_us_div">
        <h1 class="about_us_title">About Us</h1>
        <p class="about_us_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo veritatis dolorem sit distinctio incidunt dicta, ipsum praesentium? Dolorem itaque illum debitis, consequuntur pariatur excepturi, doloremque ea error veniam porro exercitationem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quibusdam totam eveniet autem pariatur esse saepe, sunt ea voluptate quis, et architecto. Amet reiciendis optio laudantium, repellendus est vel eos! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis aliquid cumque, voluptatem assumenda rem quaerat atque in odit quo, nihil, perspiciatis laboriosam at nobis. Placeat, quisquam neque. Tenetur, modi facere.</p>
        <div class="links">
            <a class="link" href=""><img src="/images/telegram.png" alt=""></a>
            <a class="link" href=""><img src="/images/medium.png" alt=""></a>
            <a class="link" href=""><img src="/images/twitter.png" alt=""></a>
            <a class="link" href=""><img src="/images/line-chart.png" alt=""></a>
        </div>
    </div>
    <img class="steps" src="/images/stacked-steps-haikei.svg" alt="">

    <div class="tokenomics_div">
        <h1 class="tokenomics_title">Tokenomics</h1>
        <div class="tokenomics_content">
            <img class="tokenomics_img" src="/images/tokenomics.png" alt="">
            <div class="tokenomics_list">
                <h2>Total Supply : 100000</h2>
                <h2>Initial Liquidity : 3 ETH</h2>
                <h2>Tax fees : 5%</h2>
                <h2>Burn fees : 5%</h2>
            </div>
        </div>
    </div>
    
    <img class="peaks" src="/images/layered-peaks-haikei.svg" alt="">
    <footer>
        All right reserved
    </footer>
</body>
<script src="/javascripts/scripthome.js"></script>
</html>